# **Basic of Python**

ðŸŽ¯ In this module we will discuss about the followings:


*   Variables
*   Print Formatting
*   DataTypes
*   Operators

# **Variables in Python**

Variables are containers/placeholders for storing data values for future use.

In [1]:
# Declarig and Assigning Variables (Creating Variables)

name = 'Garima'
age = 25
height = 5.2

# Printing the Variables
print("Name:",name)
print("Age:",age)
print("Height:",height)

Name: Garima
Age: 25
Height: 5.2

In [2]:
# We can't call the variable which is not declared or defined

print(b)         # it will return error - NameError: name 'b' is not defined

NameError: name 'b' is not defined

In [3]:
# Rules for Naming the Variables:
# 1. It should starts with (a-z), (A-Z) or and underscore(_)
# 2. It can have letters, numbers and _
# 3. But it cannot starts with numbers and we also need to avoid using defined keywords (such as if, else, for)

# Valid Variable Names
print("Valid Variable Names: first_name, AGE, _is_student")
first_name = "Garima"
AGE = 25
_is_student = True

# Invalid Variable Names
print("ERROR for the following Invalid Variable Names: -1number and my-name")
# -1number = 5               # ERROR
# my-name = "Garima"         # ERROR

Valid Variable Names: first_name, AGE, _is_student
ERROR for the following Invalid Variable Names: -1number and my-name

In [4]:
# Variables are 'Case-Sensitive' (i.e. 'g' and 'G' are different)

g = 2
G = 'Hello'

# g will not overwrite G

print(g)
print(G)

print(g==G)       # it will give 'False' which proves that g and G are not same

2
Hello
False

In [5]:
# Variables don't have their own particular type
# 'Dynamic Typing': Variable 'x' can be firstly declared as an integer and then again as a string.

x = 5                         # x is of type integer
print("x:", x , type(x))

x = 'Garima'                  # now x is of type string
print("x:", x , type(x))

# printing 'x' will always give you its latest declartion as the output.

x: 5 <class 'int'>
x: Garima <class 'str'>

In [6]:
# 'Casting': If you want to specify the data type of a variable

p = str(5)                  # p will be '5'
q = int(5)                  # q will be 5
r = float(5)                # r will be 5.0

print(p)
print(q)
print(r)

5
5
5.0

In [7]:
# 'type()' function: We can check the datatype of a variable- using type()

print(type(r))                     # r = float(5)
print(type(p))                     # p = str(5)
print(type(x))                     # x = 'Garima'
print(type(g))                     # g = 2

<class 'float'>
<class 'str'>
<class 'str'>
<class 'int'>

In [8]:
# Ways to declare multiple variables together:

# CASE 1: Assigning same values to the multiple variables
u = v = w = 100
print(u)
print(v)
print(w)

print()

# CASE 2: Assigning different values to the multiple variables
x, y, z = 1, 2.5, "Python"
print(x)
print(y)
print(z)

100
100
100

1
2.5
Python

In [9]:
# With " print() " function we can output multiple variables together

# CASE 1: simply sepearting the variables with comma [BEST METHOD]
x = "Python"
y = "is"
z = "awesome"
print("Output for CASE 1:")
print(x, y, z)

print()

# CASE 2: using + sign to output mutiple variables together [concatenation]
x = "Python "
y = "is "
z = "awesome"
print("Output for CASE 2: ")
print(x + y + z)

print()

"""
Note: In case of (+) sign, remember to add space character after "python " and "is "
otherwise without spaces the output will be "Pythonisawesome"
In case of commas (,) there is no problem of spaces
"""

# CASE 3: for numbers (+) sign works as a operator
x = 5
y = 10
print("Output for CASE 3: ")
print(x + y)

print()

# NOTE: (+) sign does not combine variables with different datatypes, whereas there is no problem like this with (,) comma case
x = 5
y = "John"
print("Note 1 Output: ")
print(x, y)                        # CORRECT [BEST METHOD]

print()

x = 5
y = "John"
# print(x + y)                     # Gives ERROR: (+) can't concatenate different datatypes
print("Note 2 Output: ERROR ")

print()

# NOTE: If you want to concatenate variables with 2 different datatypes, then fisrt do 'type casting'
x = 5
y = "John"
print("Note 3 Output: ")
print(str(x) + (y))

Output for CASE 1:
Python is awesome

Output for CASE 2:
Python is awesome

Output for CASE 3:
15

Note 1 Output:
5 John

Note 2 Output: ERROR

Note 3 Output:
5John

# **Ways of Printing in Python**

In [10]:
# CASE 1: simple printing with print() function

print('Hello')              # with single quotes
print("Hello")              # with double quotes

Hello
Hello

In [11]:
# CASE 2: using format() function

name = 'Garima'
surname = 'Ahuja'
print("My first name is {} and last name is {}".format(name,surname))

My first name is Garima and last name is Ahuja

In [12]:
# CASE 3: format() with declaration

# example 1:
name = 'Garima'
surname = 'Ahuja'
print("My first name is {name} and last name is {surname}.".format(name=name,surname=surname))

# example 2:
student_1 = 'Garima'
student_2 = 'Ruchi'
print("First student's name is {a} and second student's name is {b}.".format(a=student_1,b=student_2))

My first name is Garima and last name is Ahuja.
First student's name is Garima and second student's name is Ruchi.

In [13]:
# CASE 4: with f'' string

name = "Garima"
print(f'Your name: {name}')

Your name: Garima

# **Python Data Types**

We have various datatypes in python. Some of the major ones are:
integer, float, complex, string, boolean, list, tuple, range, dictionary

In [14]:
# Setting the DataTypes

a = 'Hello Garima'                                          # string (str)
b = 15                                                      # integer (int)
c = 20.5                                                    # float
d = 6+2j                                                    # complex
e = ["Apple", "Orange", "Cherry"]                           # list
f = ("Apple", "Orange", "Cherry")                           # tuple
g = range(5)                                                # range
h = {"name": "Garima", "Age": 25}                           # dict
i = {"Apple", "Orange", "Cherry"}                           # set
j = True                                                    # bool

In [15]:
# 'type()' function: Check the DataType of any Variable

print(type(f))
print(type(i))
print(type(d))
print(type(h))

# Note: everything in python is a object and objects have class that's why it is written as <class 'tuple'>

<class 'tuple'>
<class 'set'>
<class 'complex'>
<class 'dict'>

In [16]:
# 'len() function - Check the Length of the String

a = 'Hello World'               # space is also a character and it is also counted
len(a)

11

In [17]:
# Complex DataType

# Example 1:
x = 3+5j                           # defined complex number
print(x)                           # printing complex number
print(type(x))                     # checking datatype
print(x.real)                      # returning the "real" part of the complex number
print(x.imag)                      # returning the "imaginary" part of the complex number

print()

# Example 2:
y = 7.8+3.2j                       # another example
print(y)
print(type(y))
print(y.real)
print(y.imag)

(3+5j)
<class 'complex'>
3.0
5.0

(7.8+3.2j)
<class 'complex'>
7.8
3.2

In [18]:
# Creating Complex Number by using 'complex()' function

# generating complex number by defining both real & imag part in function
n = complex(4,2)      # here 4 is the real part & 2 is the imaginary part
print("Complex Number 1: {}". format (n))

print()

# generating complex number by defining only one part (i.e. real)
m = complex(9)
print("Complex Number 2: {}". format (m))
# this complex number will have 9 as the real part & imaginary part is not defined so it will take it as by default '0'

Complex Number 1: (4+2j)

Complex Number 2: (9+0j)

In [19]:
# DataType Conversion

x = 2
y = 3.8
z = 6+4j
w = 'hello'
print(type(y))                 # currently the type is float
print(type(w))                 # currently the type is string

print()

# let's change float type to int
a = int(y)                     # changing 'float y' into 'int'
b = float(x)                   # changing 'int x' into 'float'
c = bool(w)                    # changing 'string w' into 'bool'

# let's check by printing
print(a)
print(b)
print(c)

print()

# let's check the type of each variable
print(type(a))
print(type(b))
print(type(c))

print()

# NOTE: Only complex number can't be converted into int and float type.
# And naming strings can't be converted into int, float & complex. Rest all type of conversions are possible.

<class 'float'>
<class 'str'>

3
2.0
True

<class 'int'>
<class 'float'>
<class 'bool'>

# **Operators in Python**

In [20]:
# Arithmetic Operators on numbers

a = 1+1                 # Adding numbers
b = 10-4                # Subtracting numbers
c = 4*5                 # Multiplying numbers
d = 15/3                # Dividing numbers
e = 10%3                # Checking the remainder when 10 is divided by 3 (modulus function)
f = 6**2                # Returns the power (6 raised to the power 2) (exponentiation function)
g = 21//5               # Floor Division [21/5 = 4.2 = 4 (takes the floor integer always)]

print("Addition: {}".format(a))
print("Subtraction: {}".format(b))
print("Multiplication: {}".format(c))
print("Division: {}".format(d))
print("Modulus: {}".format(e))
print("Exponentiation: {}".format(f))
print("Floor Division: {}".format(g))

print()                         # blank space

x = 10
y = 20
result = (x*y)+(x/y)            # BODMAS
print("Complex Query: {}".format(result))

Addition: 2
Subtraction: 6
Multiplication: 20
Division: 5.0
Modulus: 1
Exponentiation: 36
Floor Division: 4

Complex Query: 200.5

In [21]:
# Comparison Operators

# CASE 1: == Equals to
print("CASE 1: == Equals to")
a = 10
b = 10
print(a==b)               # (compares the values of a and b, if equal then return True else gives False)
c = 10
d = 5
print(c==d)

print()                   # Blank Space

# CASE 2: != Not Equals to
print("CASE 2: != Not Equals to")
e = 2
f = 2
print(a!=b)               # (compares the values of e and f, if not equal then return True else gives False)
g = 20
h = 15
print(c!=d)

print()                   # Blank Space

# CASE 3: greater than (>) & less than (<)
print("CASE 3: > & <")
num1 = 2
num2 = 5
print(num1 > num2)
print(num1 < num2)

print()

# CASE 4: greater than equal to (>=) & less than equal to (<=)
print("CASE 4: >= & <=")
num1 = 10
num2 = 6
print(num1 >= num2)
print(num1 <= num2)

CASE 1: == Equals to
True
False

CASE 2: != Not Equals to
False
True

CASE 3: > & <
False
True

CASE 4: >= & <=
True
False

In [22]:
# Logical Operators

# CASE 1: " AND "
print("CASE 1: AND Operator")
A = True
B = False
C = True
D = False
print(A and C)      # both true so result = true
print(B and D)      # both false so result = false
print(A and B)      # one true & one false so result is false
print(B and C)      # one false & one true so result is false

print()

# CASE 2: " OR "
print("CASE 2: OR Operator")
A = True
B = False
C = True
D = False
print(A or C)      # both true so result = true
print(B or D)      # both false so result = false
print(A or B)      # if any one is true then result = true
print(B or C)

print()

# CASE 3: " NOT "
print("CASE 3: NOT Operator")
A = True
B = False
print(not A)      # not A means opposite of A
print(not B)

CASE 1: AND Operator
True
False
False
False

CASE 2: OR Operator
True
False
True
True

CASE 3: NOT Operator
False
True

# **Assignment**
Topics Covered:

*   Syntax and Semantics
*   Variables
*   Data Types
*   Operators (Arithmetic, Comparison and Logical)

**1. Syntax and Semantics**

**Question 1:** Write a Python program to print "Hello, World!".

In [23]:
print("Hello World")

Hello World

**Question 2:** Write a Python program that takes a user input and prints it.

In [24]:
name = input("Please enter your name: ")
print(f'Your Input: {name}')

Please enter your name: Garima
Your Input: Garima

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [25]:
number = float(input("Enter a Number to Check: "))
if number > 0:
  print("Positive Number")
elif number < 0:
  print("Negative Number")
else:
  print("The Number is Zero")

Enter a Number to Check: -5
Negative Number

**Question 4:** Write a Python program to find the largest of three numbers.

In [26]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
  print("The largest number is {}".format(num1))
elif (num2 >= num1) and (num2 >= num3):
  print("The largest number is {}".format(num2))
else:
  print("The largest number is {}".format(num3))

Enter first number: 65
Enter second number: 42
Enter third number: 105
The largest number is 105.0

**Question 5:** Write a Python program to calculate the factorial of a number.

In [27]:
num = int(input("Enter a number: "))

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

if num < 0:
  print("factorial of a negative number is not possible")
else:
  print(f'factorial of {num} is {factorial(num)}')

Enter a number: 8
factorial of 8 is 40320

**2. Variables and Data Types**

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [28]:
integer_variable = 10
float_variable = 5.5
string_variable = "Garima"
boolean_variable = True

print(f"Integer Variable: {integer_variable}, Type: {type(integer_variable)}")
print(f"Float Variable: {float_variable}, Type: {type(float_variable)}")
print(f"String Variable: {string_variable}, Type: {type(string_variable)}")
print(f"Boolean Variable: {boolean_variable}, Type: {type(boolean_variable)}")

Integer Variable: 10, Type: <class 'int'>
Float Variable: 5.5, Type: <class 'float'>
String Variable: Garima, Type: <class 'str'>
Boolean Variable: True, Type: <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [29]:
var1 = input("Enter Variable 1: ")
var2 = input("Enter Variable 2: ")

print()

# Method 1: Direct Swapping (without using temp variable)
print("METHOD 1:")
print(f"Before Swapping: Variable 1 = {var1} and Variable 2 = {var2}")
var1, var2 = var2, var1
print(f"After Swapping: Variable 1 = {var1} and Variable 2 = {var2}")

print() # Now the values have been already swapped and for the next method we are using these swapped values.

# Method 2: Using a temperory varibale
print("METHOD 2:")
print(f"Before Swapping: Variable 1 = {var1} and Variable 2 = {var2}")
temp = var1
var1 = var2
var2 = temp
print(f"After Swapping: Variable 1 = {var1} and Variable 2 = {var2}")

Enter Variable 1: 25
Enter Variable 2: 70

METHOD 1:
Before Swapping: Variable 1 = 25 and Variable 2 = 70
After Swapping: Variable 1 = 70 and Variable 2 = 25

METHOD 2:
Before Swapping: Variable 1 = 70 and Variable 2 = 25
After Swapping: Variable 1 = 25 and Variable 2 = 70

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [30]:
celsius = float(input("Enter Temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}Â°C is equal to {fahrenheit}Â°F")

Enter Temperature in Celsius: 99.5
99.5Â°C is equal to 211.1Â°F

**Question 9:** Write a Python program to concatenate two strings.

In [31]:
str1 = input("Enter String 1: ")
str2 = input("Enter String 2: ")
concatenation = str1 + " " + str2
print(f"Concatenated String: {concatenation}")

Enter String 1: Hello
Enter String 2: World
Concatenated String: Hello World

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [32]:
var = 10.5
if isinstance (var, float):
  print(f"variable {var} is float")
else:
  print(f"variable {var} is not float")

variable 10.5 is float

**3. Operators (Arithmetic, Comparison and Logical)**

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [33]:
a = 5
b = 10

add = a + b
sub = a - b
multiply = a * b
divide = a / b

print(f"Addition: {a} + {b} = {add}")
print(f"Subtraction: {a} - {b} = {sub}")
print(f"Multiplication: {a} * {b} = {multiply}")
print(f"Division: {a} / {b} = {divide}")

Addition: 5 + 10 = 15
Subtraction: 5 - 10 = -5
Multiplication: 5 * 10 = 50
Division: 5 / 10 = 0.5

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [34]:
x = 10
y = 15

print(f"{x} > {y} = {x > y}")
print(f"{x} < {y} = {x < y}")
print(f"{x} = {y} = {x == y}")
print(f"{x} != {y} = {x != y}")

10 > 15 = False
10 < 15 = True
10 = 15 = False
10 != 15 = True

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [35]:
p = True
q = False
r = True

print(f"{p} AND {q} = {p and q}")
print(f"{p} AND {r} = {p and r}")
print(f"{p} OR {q} = {p or q}")
print(f"NOT {p} = {not p}")
print(f"NOT {q} = {not q}")

True AND False = False
True AND True = True
True OR False = True
NOT True = False
NOT False = True

**Question 14:** Write a Python program to calculate the square of a number.

In [36]:
n1 = float(input("Enter a Number: "))
square = n1 ** 2
print(f"Square of {n1} = {square}")

Enter a Number: 15
Square of 15.0 = 225.0

**Question 15:** Write a Python program to check if a number is even or odd.

In [37]:
n1 = int(input("Enter a Number: "))
if n1 % 2 == 0:
  print(f"{n1} is even.")
else:
  print(f"{n1} is odd")

Enter a Number: 22
22 is even.

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [38]:
n1 = int(input("Enter a Number: "))
sum = (n1 * (n1 + 1)) / 2
print(f"Sum of first {n1} natural numbers = {sum}")

Enter a Number: 6
Sum of first 6 natural numbers = 21.0

**Question 17:** Write a Python program to check if a year is a leap year.

In [39]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2025
2025 is not a leap year.

**Question 18:** Write a Python program to reverse a string.

In [40]:
str1 = input("Enter a string: ")
reversed_str1 = str1[::-1]
print(f"The reversed string is: {reversed_str1}")

Enter a string: 54321
The reversed string is: 12345

**Question 19:** Write a Python program to check if a string is a palindrome.

In [41]:
str1 = input("Enter a string: ")
if str1 == str1[::-1]:
    print(f"{str1} is a palindrome.")
else:
    print(f"{str1} is not a palindrome.")

Enter a string: madam
madam is a palindrome.

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [42]:
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
numbers.sort()
print(f"Sorted list: {numbers}")

Enter numbers separated by space: 55 12 68 47 35 20 99
Sorted list: [12, 20, 35, 47, 55, 68, 99]

**Write a Python program to make a simple calculator**

In [43]:
num1 = float(input("Enter First Number: "))
num2 = float(input("Enter Second Number: "))

# Performing Arithmetic Operations:
add = num1 + num2
sub = num1 - num2
multiply = num1 * num2
divide = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying Results:
print(f"Addition: {num1} + {num2} = {add}")
print(f"Subtraction: {num1} - {num2} = {sub}")
print(f"Multiplication: {num1} * {num2} = {multiply}")
print(f"Division: {num1} / {num2} = {divide}")
print(f"Floor Division: {num1} // {num2} = {floor_division}")
print(f"Modulus: {num1} % {num2} = {modulus}")
print(f"Exponentiation: {num1} ** {num2} = {exponentiation}")

Enter First Number: 10
Enter Second Number: 5
Addition: 10.0 + 5.0 = 15.0
Subtraction: 10.0 - 5.0 = 5.0
Multiplication: 10.0 * 5.0 = 50.0
Division: 10.0 / 5.0 = 2.0
Floor Division: 10.0 // 5.0 = 2.0
Modulus: 10.0 % 5.0 = 0.0
Exponentiation: 10.0 ** 5.0 = 100000.0

---
**Basics of Python - Done âœ…**
---