# **Basic of Python**

ðŸŽ¯ In this module we will discuss about the followings:


*   Variables
*   Print Formatting
*   DataTypes
*   Operators

# **Variables in Python**

Variables are containers for storing data values.

A variable is created the moment you first assign a value to it.

In [1]:
# Creating Variables

a = 10
name = 'Garima'
print(a)
print(name)

10
Garima

In [2]:
# We can't call the variable which is not declared or defined

print(b)

# it will return error - NameError: name 'b' is not defined

NameError: name 'b' is not defined

In [3]:
# Variables don't have their own particular type
# for eg: variable x can be declared as integer first and then again as string

x = 5                       # x is of type integer
x = 'Garima'                # now x is of type string

# now print x, and you will get the latest declartion as the output
print(x)

Garima

In [4]:
# If you want to specify the data type of a variable, then do "Casting"

p = str(5)                  # p will be '5'
q = int(5)                  # q will be 5
r = float(5)                # r will be 5.0

print(p)
print(q)
print(r)

5
5
5.0

In [5]:
# We can check the datatype of a variable with " type() " function

print(type(r))                     # r = float(5)
print(type(x))                     # x = 'Garima'
print(type(a))                     # a = 10

<class 'float'>
<class 'str'>
<class 'int'>

In [6]:
# Variables are case sensitive (i.e. 'g' and 'G' are not same)

g = 2
G = 'Hello'

# g will not overwrite G

print(g)
print(G)

2
Hello

In [7]:
# We can declare multiple variables together

name, age, gender = 'Garima', 25, 'Female'

print(name)
print(gender)
print(age)

Garima
Female
25

In [8]:
# We can declare same value to multiple variables together

u = v = w = 'Garima'

print(u)
print(v)
print(w)

Garima
Garima
Garima

In [9]:
# With " print() " function we can output multiple variables together

# CASE 1: simply sepearting the variables with comma [BEST METHOD]
x = "Python"
y = "is"
z = "awesome"
print("Output for CASE 1:")
print(x, y, z)

print()

# CASE 2: using + sign to output mutiple variables together
x = "Python "
y = "is "
z = "awesome"
print("Output for CASE 2: ")
print(x + y + z)

print()

"""
remember to add space character after "python " and "is "
without spaces the output will be "Pythonisawesome" in case of (+) sign
in case of commas (,) there is no problem of spaces
"""

# CASE 3: for numbers (+) sign works as a operator
x = 5
y = 10
print("Output for CASE 3: ")
print(x + y)

print()

# NOTE: (+) sign does not combine variables with different datatypes, whereas there is no problem like this with (,) comma case
x = 5
y = "John"
print("Output for Note 1: ")
print(x, y)                    # CORRECT [BEST METHOD]

print()

x = 5
y = "John"
print("Output for Note 2: ")
print(x + y)                   # Gives ERROR - different datatypes so can't combine

Output for CASE 1:
Python is awesome

Output for CASE 2:
Python is awesome

Output for CASE 3:
15

Output for Note 1:
5 John

Output for Note 2:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# **Ways of Printing in Python**

In [10]:
print('Hello')              # with single quotes
print("Hello")              # with double quotes

Hello
Hello

In [11]:
name = 'Garima'
surname = 'Ahuja'
print("My first name is {} and last name is {}".format(name,surname))

My first name is Garima and last name is Ahuja

In [12]:
name = 'Garima'
surname = 'Ahuja'
print("My first name is {name} and last name is {surname}".format(name=name,surname=surname))

My first name is Garima and last name is Ahuja

# **Python Data Types**

We have various datatypes in python. Some of the major ones are:
integer, float, complex, string, boolean, list, tuple, range, dictionary

In [13]:
# Setting the DataTypes

a = 'Hello Garima'                                          # string (str)
b = 15                                                      # integer (int)
c = 20.5                                                    # float
d = 6+2j                                                    # complex
e = ["Apple", "Orange", "Cherry"]                           # list
f = ("Apple", "Orange", "Cherry")                           # tuple
g = range(5)                                                # range
h = {"name": "Garima", "Age": 25}                           # dict
i = {"Apple", "Orange", "Cherry"}                           # set
j = True                                                    # bool

In [14]:
# check the data type of any variable - type() function

print(type(f))
print(type(i))
print(type(d))
print(type(h))

# Note: everything in python is a object and objects have class that's why it is written as <class 'tuple'>

<class 'tuple'>
<class 'set'>
<class 'complex'>
<class 'dict'>

In [15]:
# Check the length of the string

a = 'Hello Garima'               # space is also a character and it is also counted
len(a)

12

In [16]:
# Complex DataType

# Example 1:
x = 3+5j                           # defined complex number
print(type(x))                     # checking datatype
print(x.real)                      # returning the "real" part of the complex number
print(x.imag)                      # returning the "imaginary" part of the complex number

print()

# Example 2:
y = 7.8+3.2j                       # another example
print(type(y))
print(y.real)
print(y.imag)

print()

# Creating complex number by using function
# generating complex number by defining both real & imag part in function
n = complex(4,2)      # here 4 is the real part & 2 is the imaginary part
print("Complex Number 1: {}". format (n))

print()

# generating complex number by defining only one part (i.e. real)
m = complex(9)
print("Complex Number 2: {}". format (m))
# this complex number will have 9 as the real part & imaginary part is not defined so it will take it as by default '0'

<class 'complex'>
3.0
5.0

<class 'complex'>
7.8
3.2

Complex Number 1: (4+2j)

Complex Number 2: (9+0j)

In [17]:
# DataType Conversion

x = 2
y = 3.8
z = 6+4j
w = 'hello'
print(type(y))                 # currently the type is float
print(type(w))                 # currently the type is string

print()

# let's change float type to int
a = int(y)                     # changing 'float y' into 'int'
b = float(x)                   # changing 'int x' into 'float'
c = bool(w)                    # changing 'string w' into 'bool'

# let's check by printing
print(a)
print(b)
print(c)

print()

# let's check the type of each variable
print(type(a))
print(type(b))
print(type(c))

print()

"""
NOTE: Only complex number can't be converted into int and float type.
And naming strings can't be converted into int, float & complex.
Rest all type of conversions are possible.
"""

<class 'float'>
<class 'str'>

3
2.0
True

<class 'int'>
<class 'float'>
<class 'bool'>

"\nNOTE: Only complex number can't be converted into int and float type.\nAnd naming strings can't be converted into int, float & complex.\nRest all type of conversions are possible.\n"

# **Operators in Python**

In [18]:
# Arithmetic Operators on numbers

a = 1+1                 # Adding numbers
b = 10-4                # Subtracting numbers
c = 4*5                 # Multiplying numbers
d = 15/3                # Dividing numbers
e = 10%3                # Checking the remainder when 10 is divided by 3 (modulus function)
f = 6**2                # Returns the power (6 raised to the power 2) (exponentiation function)
g = 21//5               # Floor Division [21/5 = 4.2 = 4 (takes the floor integer always)]

print("Addition: {}".format(a))
print("Subtraction: {}".format(b))
print("Multiplication: {}".format(c))
print("Division: {}".format(d))
print("Modulus: {}".format(e))
print("Exponentiation: {}".format(f))
print("Floor Division: {}".format(g))

print()                         # blank space

x = 10
y = 20
result = (x*y)+(x/y)            # BODMAS
print("Complex Query: {}".format(result))

Addition: 2
Subtraction: 6
Multiplication: 20
Division: 5.0
Modulus: 1
Exponentiation: 36
Floor Division: 4

Complex Query: 200.5

In [19]:
# Comparison Operators

# CASE 1: == Equals to
print("CASE 1: == Equals to")
a = 10
b = 10
print(a==b)               # (compares the values of a and b, if equal then return True else gives False)
c = 10
d = 5
print(c==d)

print()                   # Blank Space

# CASE 2: != Not Equals to
print("CASE 2: != Not Equals to")
e = 2
f = 2
print(a!=b)               # (compares the values of e and f, if not equal then return True else gives False)
g = 20
h = 15
print(c!=d)

print()            # Blank Space

# CASE 3: greater than (>) & less than (<)
print("CASE 3: > & <")
num1 = 2
num2 = 5
print(num1 > num2)
print(num1 < num2)

print()

# CASE 4: greater than equal to (>=) & less than equal to (<=)
print("CASE 4: >= & <=")
num1 = 10
num2 = 6
print(num1 >= num2)
print(num1 <= num2)

CASE 1: == Equals to
True
False

CASE 2: != Not Equals to
False
True

CASE 3: > & <
False
True

CASE 4: >= & <=
True
False

In [20]:
# Logical Operators

# CASE 1: " AND "
print("CASE 1: AND Operator")
A = True
B = False
C = True
D = False
print(A and C)      # both true so result = true
print(B and D)      # both false so result = false
print(A and B)      # one true & one false so result is false
print(B and C)      # one false & one true so result is false

print()

# CASE 2: " OR "
print("CASE 2: OR Operator")
A = True
B = False
C = True
D = False
print(A or C)      # both true so result = true
print(B or D)      # both false so result = false
print(A or B)      # if any one is true then result = true
print(B or C)

print()

# CASE 3: " NOT "
print("CASE 3: NOT Operator")
A = True
B = False
print(not A)      # not A means opposite of A
print(not B)

CASE 1: AND Operator
True
False
False
False

CASE 2: OR Operator
True
False
True
True

CASE 3: NOT Operator
False
True

# **ã€°ã€°ã€°ã€°ã€° Basics of Python - Done âœ… ã€°ã€°ã€°ã€°ã€°**