## **Basic of Python**

In this module we will discuss about


*   Variables
*   DataTypes
*   Print Formatting

## **Variables in Python**

Variables are containers for storing data values.

A variable is created the moment you first assign a value to it.

In [1]:
# Creating Variables

a = 10
name = 'Garima'
print(a)
print(name)

10
Garima

In [2]:
# We can't call the variable which is not declared or defined

# print(b)

# it will return error - NameError: name 'b' is not defined

In [3]:
# Variables don't have their own particular type
# for eg: variable x can be declared as integer first and then again as string

x = 5                       # x is of type integer
x = 'Garima'                # now x is of type string

# now print x, and you will get the latest declartion as the output
print(x)

Garima

In [4]:
# If you want to specify the data type of a variable, then do "Casting"

p = str(5)                  # p will be '5'
q = int(5)                  # q will be 5
r = float(5)                # r will be 5.0

print(p)
print(q)
print(r)

5
5
5.0

In [5]:
# We can check the datatype of a variable with " type() " function

print(type(r))                     # r = float(5)
print(type(x))                     # x = 'Garima'
print(type(a))                     # a = 10

<class 'float'>
<class 'str'>
<class 'int'>

In [6]:
# Variables are case sensitive (i.e. 'g' and 'G' are not same)

g = 2
G = 'Hello'

# g will not overwrite G

print(g)
print(G)

2
Hello

In [7]:
# We can declare multiple variables together

name, age, gender = 'Garima', 25, 'Female'

print(gender)
print(age)

Female
25

In [8]:
# We can declare same value to multiple variables together

u = v = w = 'Garima'

print(u)
print(v)
print(w)

Garima
Garima
Garima

In [9]:
# With " print() " function we can output multiple variables together

# Case 1: simply sepearting the variables with comma [BEST METHOD]
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)


# Case 2: using + sign to output mutiple variables together
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# remember to add space character after "python " and "is "
# without spaces the output will be "Pythonisawesome" in case of (+) sign
# in case of commas (,) there is no problem of spaces


# Case 3: for numbers (+) sign works as a operator
x = 5
y = 10
print(x + y)


# NOTE: (+) sign does not combine variables with different datatypes, whereas there is no problem like this with (,) comma case
x = 5
y = "John"
print(x, y)              # CORRECT [BEST METHOD]

# x = 5
# y = "John"
# print(x + y)  -  Gives ERROR

Python is awesome
Python is awesome
15
5 John

## **Python Data Types**

We have various datatypes in python. Some of the major ones are:
integer, float, complex, string, boolean, list, tuple, range, dictionary

In [10]:
# Setting the DataTypes

a = 'Hello Garima'                                          # string (str)
b = 15                                                      # integer (int)
c = 20.5                                                    # float
d = 6+2j                                                    # complex
e = ["Apple", "Orange", "Cherry"]                           # list
f = ("Apple", "Orange", "Cherry")                           # tuple
g = range(5)                                                # range
h = {"name": "Garima", "Age": 25}                           # dict
i = {"Apple", "Orange", "Cherry"}                           # set
j = True                                                    # bool

In [11]:
# check the data type of any variable - type() function

print(type(f))
print(type(i))
print(type(d))
print(type(h))

# Note: everything in python is a object and objects have class that's why it is written as <class 'tuple'>

<class 'tuple'>
<class 'set'>
<class 'complex'>
<class 'dict'>

In [12]:
# Complex DataType
x = 3+5j                           # defined complex number
print(type(x))                     # checking datatype
print(x.real)                      # returning the "real" part of the complex number
print(x.imag)                      # returning the "imaginary" part of the complex number

y = 7.8+3.2j                       # another example
print(type(y))
print(y.real)
print(y.imag)


# Creating complex number by using function
# generating complex number by defining both real & imag part in function
n = complex(4,2)      # here 4 is the real part & 2 is the imaginary part
print(n)


# generating complex number by defining only one part (i.e. real)
m = complex(9)
print(m)
# this complex number will have 9 as the real part & imaginary part is not defined so it will take it as 0

<class 'complex'>
3.0
5.0
<class 'complex'>
7.8
3.2
(4+2j)
(9+0j)

In [13]:
# DataType Conversion

x = 2
y = 3.8
z = 6+4j
print(type(y))                 # currently the type is float


# let's change float type to int
a = int(y)
b = float(x)

print(a)
print(b)

print(type(a))
print(type(b))

<class 'float'>
3
2.0
<class 'int'>
<class 'float'>

In [14]:
# Operators on numbers

a = 1+1                 # Adding numbers
b = 10-4                # Subtracting numbers
c = 4*5                 # Multiplying numbers
d = 15/3                # Dividing numbers
e = 10%3                # Checking the remainder when 10 is divided by 3
f = 6**2                # Returns the power (6 raised to the power 2)

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

2
6
20
5.0
1
36