<a href="https://colab.research.google.com/github/GARIMA-AHUJA/Python/blob/main/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Basic of Python**

In this module we will discuss about


*   Variables
*   DataTypes
*   Print Formatting

## **Variables in Python**

Variables are containers for storing data values.

A variable is created the moment you first assign a value to it.

In [30]:
# Creating Variables

a = 10
name = 'Garima'
print(a)
print(name)

10
Garima

In [ ]:
# We can't call the variable which is not declared or defined

print(b)

# it will return error - NameError: name 'b' is not defined

In [31]:
# Variables don't have their own particular type
# for eg: variable x can be declared as integer first and then again as string

x = 5                       # x is of type integer
x = 'Garima'                # now x is of type string

# now print x, and you will get the latest declartion as the output
print(x)

Garima

In [34]:
# If you want to specify the data type of a variable, then do "Casting"

p = str(5)                  # p will be '5'
q = int(5)                  # q will be 5
r = float(5)                # r will be 5.0

print(p)
print(q)
print(r)

5
5
5.0

In [36]:
# We can check the datatype of a variable with " type() " function

print(type(r))                     # r = float(5)
print(type(x))                     # x = 'Garima'
print(type(a))                     # a = 10

<class 'float'>
<class 'str'>
<class 'int'>

In [38]:
# Variables are case sensitive (i.e. 'g' and 'G' are not same)

g = 2
G = 'Hello'

# g will not overwrite G

print(g)
print(G)

2
Hello

In [39]:
# We can declare multiple variables together

name, age, gender = 'Garima', 25, 'Female'

print(gender)
print(age)

Female
25

In [41]:
# We can declare same value to multiple variables together

u = v = w = 'Garima'

print(u)
print(v)
print(w)

Garima
Garima
Garima

In [54]:
# With " print() " function we can output multiple variables together

# Case 1: simply sepearting the variables with comma [BEST METHOD]
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)


# Case 2: using + sign to output mutiple variables together
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# remember to add space character after "python " and "is "
# without spaces the output will be "Pythonisawesome" in case of (+) sign
# in case of commas (,) there is no problem of spaces


# Case 3: for numbers (+) sign works as a operator
x = 5
y = 10
print(x + y)


# NOTE: (+) sign does not combine variables with different datatypes, whereas there is no problem like this with (,) comma case
x = 5
y = "John"
print(x, y)              # CORRECT [BEST METHOD]

# x = 5
# y = "John"
# print(x + y)  -  Gives ERROR

Python is awesome
Python is awesome
15
5 John

## **Python Data Types**

We have various datatypes in python such as integer, float, bool

1. Numbers

In [1]:
1+1           # Adding numbers

2

In [2]:
10-4          # Subtracting numbers

6

In [3]:
4*5           # Multiplying numbers

20

In [4]:
15/3          # Dividing numbers

5.0

In [9]:
10%3          # Checking the remainder when 10 is divided by 3

1

In [10]:
6**2          # Returns the power (6 raised to the power 2)

36